bin/build
bin/libs
bin/noxim
*.code-workspace
*.vscode
bin/sim_routingTABLE.out
bin/*.vcd
bin/*.out
bin/*.json
bin/*.txt
/*.json*
bin/test_results
bim/*.yaml
# Except the following files
!o2m.txt
bin/test_config.yaml
bin/log
bin/extracted
bin/analysis
bin/summary
bin/results